div(data-hook='viz-container')
  dl
  if fieldNames
    dt Array of documents with #{fieldsPluralized}
    dd 
      ul.list-inline
        each name, idx in fieldNames
          li= name + (idx < fieldNames.length-1 ? ',' : '')
  dt Array lengths
  dd 
    ul.list-inline
      li min: #{min_length}, 
      li average: #{average_length}, 
      li max: #{max_length}
