.sampling-message
  if is_sample
    | Query returned&nbsp;
    b #{formatted_total_count}
    | &nbsp;#{total_count_document}.
    | This report is based on a sample of&nbsp;
    b #{formatted_sample_size}
    | &nbsp;#{sample_size_document}.
  else
    | Query returned&nbsp;
    b #{formatted_sample_size}
    | &nbsp;#{sample_size_document}.
