div.animated
  h1(style='margin-bottom: 20px;') Tell us about yourself
  form.form-horizontal.col-sm-12
    .form-group.has-feedback: input.form-control.input-lg(
        type='text', 
        required='required', 
        autocomplete='billing name',
        name='name', 
        minlength=2,
        maxlength=128,
        title='Let\'s not be strangers...',
        placeholder='What is your name?'
      )
    .form-group: input.form-control.input-lg(
        type='email', 
        required='required', 
        autocomplete='email'
        name='email', 
        minlength=2,
        maxlength=128,
        title='How will we contact you if we have questions?...',
        placeholder='And your email address?'
        )  
    .form-group: button.btn.btn-primary.btn-lg(
        type='submit', 
        data-hook='continue'
      ) Continue
