mixin jsvalue(value, _type)
  if _type === 'Array'
    - value = 'Array[' + value.length + ']'
    .document-property-type-label= value
  else if _type === 'Object'
    - value = 'Object'
    .document-property-type-label= value
  else
    if _type === 'Date'
      - value = moment(value).format('LLL')
    if _type === 'String'
      - // cap at 500 char for strings
      - value = value.length > 500 ? value.substring(0, 500) + '...' : value
    .document-property-value(title=value)= value

mixin jsarray(items)
  ol.document-property-body
    each item,index in items
      +jsproperty(index, item)
      
mixin keyvalue(key, value)
  .document-property-key= key
  |:   
  +jsvalue(value, _type) 

mixin jsproperty(key, value)
  - _type = getType(value)
  li(class='document-property #{_type.toLowerCase()}')
    if _type === 'Array' || _type === 'Object'
      .document-property-header
        .caret
        +keyvalue(key, value)
    else 
      +keyvalue(key, value)
    if _type === 'Array'
      +jsarray(value)
    if _type === 'Object'
      +jsobject(value)

mixin jsobject(obj)
  ol.document-property-body
    for value, key in obj || {}
      +jsproperty(key, value)

li.document-list-item
  +jsobject(model && model.serialize())
