doctype html
html(lang='en')
  head
    title #{title}
    meta(name='description' content=description)
    meta(name='viewport', content='initial-scale=1')
    link(rel='stylesheet', href='index.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans:700,600,400', rel='stylesheet', type='text/css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-top')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#', style='padding: 8px 15px;')
            img(style='height: 28px;', src='https://www.mongodb.org/static/images/mongodb-logo.png')
        #navbar-top.collapse.navbar-collapse
          ul.nav.navbar-nav
        
          ul.nav.navbar-nav.navbar-right
            for feature in features
              li
                a(href='##{feature.id}') #{feature.name}
            li: a(href='#about') About
            li: a(href='/docs.html') Docs
    .jumbotron-group
      .jumbotron
        .container-fluid
          .media
            .media-body
              img(src='', alt='Product Logo Placeholder', style='height: 128px; width: 128px;margin-bottom: 18px;')
              h1.media-heading #{product}
              h3 #{tagline}
              form.form-inline
                .form-group
                  input.form-control.input-sm(type="text", placeholder=subscribe.placeholder)
                  button.btn.btn-primary.btn-sm(type="submit") #{subscribe.button}
            .media-right
              img(src='', alt='Placeholder for screenshot', style='height: 500px; width: 400px;')    
      for feature in features
        .jumbotron(id=feature.id)
          .container-fluid
            .media
              .media-left
                img(src='', alt='Placeholder for feature screenshot', style='height: 400px; width: 300px;')
              .media-body(style='text-align: left; padding-left: 20px;')
                h2.media-heading #{feature.tagline}
                p #{feature.description}
      .jumbotron(id='about')
        .container-fluid
          .media
            .media-body
              h2.media-heading About #{product}
              p Who makes this?  Why should I trust it?
    .footer
      .container-fluid
        p footer
